@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Montaga&family=Montagu+Slab:wght@400;600&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Montaga", serif;
  font-family: "Montagu Slab", serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

